@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";


@font-face {
  font-family: "Avenir";
  src: url("Avenir-Heavy.otf");
}

body {

    margin:0;
    padding:0;
    text-align: left !important;

}
.breakp{page-break-before:always;}
#expand1{display: none;}

p, div, span {
	padding-bottom:10px;

}


a{text-decoration:underline;}
samp{ font-family:  sans-serif !important;  color:red;}

h1 {
  font-family: 'Avenir', sans-serif !important;  
    color: rgb(170,161,99);
    font-size: 1.5em;

}



h2{font-family: 'Avenir', sans-serif !important;  
    color: rgb(170,161,99);
    font-size: 1.5em;
    margin-bottom:0;

  }

.fullquote {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

aside[epub|type~='sidebar'] {
   padding: 0.5em;
   margin-left: 2em;
   width: 25%;
   max-width: 15em;
   background-color: rgb(240,240,240);
   border: solid 1px; rgb(0,0,0);
   float: right;
   font-size:0.6em;
}



video{width:100%;margin:0px;background-color:black;}
#miimg{width:50px!important;}


blockquote {
    color:#222;
    width: 60%;
    font-size: .8em;
    text-align: right;
    margin: 0;
    padding-left: 8em;
    padding-bottom: 1em;
}

a {
  -webkit-text-fill-color: rgb(170,161,99);
    color: rgb(170,161,99);
}
a:visited {
    -webkit-text-fill-color: rgb(170,161,99);
    -webkit-link: rgb(170,161,99);
}

a.nextsnip{-webkit-text-fill-color: rgb(170,161,99);display:block;background:url('images/arrow_right.svg');background-repeat: no-repeat;background-size: 20px 20px;padding-left:10%;height:50px;}
a.watch{-webkit-text-fill-color: rgb(170,161,99);display:block;background:url('images/arrow_down.svg');background-repeat: no-repeat;background-size: 20px 20px;padding-left:10%;height:50px; border-bottom: 1px solid black;}
/*
a.watch{text-align:left !important;font-size:.8em;color:#222;-webkit-text-fill-color:#222;}
a.watch{display:block;margin-top: -10px;font-size:.8em;}*/
.inlineimg {width:125px !important;max-width:125px !important; float:right; clear:right; margin:20px;margin-right:0px;
  
}
.inlineimg img{width:100%;height:100%;border:1px solid #222;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}

.breadcrumbs{page-break-before:always;}
.breadcrumbs span{font-weight:bold;padding:2px;background-color:black;color:white;-webkit-text-fill-color:rgb(255,255,255);font-size:0.6em;}

.bottomline{margin:0; color: rgb(170,161,99)!important;-webkit-text-fill-color:rgb(170,161,99);}
.bioinfo{font-weight:bold;background-color:rgb(170,161,99); padding:5px;margin-top:-10px;}
.bioinfo a, .bioinfo a:visited{ -webkit-text-fill-color:white;}

.fullbio{background-color:rgb(170,161,99); padding:5px;}
.fullbio a, .bioinfo a:visited{ -webkit-text-fill-color:white;}
.fullname{display:block;width:100%;-webkit-text-fill-color:white;color:white;background:url('images/user.svg');background-repeat: no-repeat;background-size: 20px 25px;padding-left:30px;height:20px;}
.dur{float:right;display:block;}
.dur:before{content:"Dur: ";}
.fullquote p:first-letter{float:left;font-weight:bold;font-size:2.2em;margin-top:-0.225em;margin-right:.15em;}
.buttons{position:relative;width:60px;left:50%;margin-left:-25px;}
.play{margin-right:10px;display: inline-block;width:20px;height:15px; background:url('images/play.svg');background-size: 100% 100%;}
.reload{display: inline-block;width:20px;height:15px; background:url('images/reload.svg');background-size: 100% 100%;}
.videocont{display: block;}
p{orphans:4;widows:4;text-align:left !important;font-size:.8em;color:#222;-webkit-text-fill-color:#222;}
/*a.watch{text-align:left !important;font-size:.8em;color:#222;-webkit-text-fill-color:#222;}
a.watch{display:block;margin-top: -10px;font-size:.8em;}*/
.slidescontainer{width: 100%;margin-top:-2px;}
img.slides { width: 100%; }
.controls{ padding:5px;display:block;position:relative;width:100px;height:40px;margin-left:-50px;left:50%;}
.prev{display:inline-block;width:30px;height:25px; background:url('images/arrow_left.svg');background-size: 100% 100%;}
.next{display:inline-block;width:30px;height:25px; background:url('images/arrow_right.svg');background-size: 100% 100%;}
.slideinfo{width:25px;display:inline-block;vertical-align:top;text-align:center;padding-top:8px;}
.inactive{opacity:0.5;}
.centerimg{width:15% !important;margin-left:42%;}
.slidebox{display:inline-block;font-size:0.8em;}

#top{
  max-height:100% !important;
  height:100% !important;
  margin:0;
  padding:0;

}
.title img{  
  max-height:100% !important;
  height:100% !important;}
.title{
  
  position:absolute;
  font-family: 'Avenir', sans-serif !important;  
  font-size: 2em;
  font-weight:bold;
  top:0;
  padding:5px;
  width:380px;
  max-width: 380px !important;}
.short{
  padding:5px;
  font-weight:bold;
  /*background-color:rgba(255,255,255,0.5);*/
  font-size:0.45em;
  width:400px;
  max-width: 400px !important;}
aside[epub|type~='footnote'] {font-size:0.6em;}


.closegif {background:url('images/DD_goud_klein2.gif');height:100px!important;max-height:100px!important;width:100px!important;max-width:100px!important;margin:auto;
page-break-inside: avoid;
}


@media screen and (orientation:portrait) { 

.inlineimg{ float:left;clear:left;margin-left:0px;margin-right:20px}

  }
}
